<nav class="navbar navbar-inverse" style="height: 60px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">
                <h1 style="margin: auto; margin-top: -1.7%;">
                    <i class="fa fa-check"></i> 
                    <strong>POC</strong>
                </h1>
            </a>
        </div>
        <div class="collapse navbar-collapse ">
            <ul class="nav navbar-nav navbar-right navbar-toggler">
                <li class="nav-list" ><a href="#" routerLink = "/home"><h3>Home</h3></a></li>
                <li class="nav-list"><a href="#" routerLink = "/users"><h3>Users</h3></a></li>
                <li class="nav-list"><a href="#" routerLink = "/login"><h3>Log Out</h3></a></li>
            </ul>
        </div>
    </div>
  </nav>

<div class="animated fadeIn app-body">
    <main style="margin: auto; align-items: center;">
        <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12 col-12">
                <!-- <form>
                    <h1 style="text-align: center;">Update</h1>
                    <p style="text-align: center;" appChangeStyle>Reset your Account</p>
                    <div class="cred">
                        <input type="text" class="form-control" name="username" #username="ngModel" [(ngModel)]="updateDetails.username"
                        placeholder="Username" autocomplete="username" required>
                    </div>
                    <div class="cred">
                        <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="updateDetails.password"
                        placeholder="Password" autocomplete="password" required>
                    </div>
                    <div class="cred">
                        <input type="text" class="form-control" name="firstName" #firstName="ngModel" [(ngModel)]="updateDetails.firstName"
                        placeholder="First Name" autocomplete="firstName" required>
                    </div>
                    <div class="cred">
                        <input type="text" class="form-control" name="lastName" #lastName="ngModel" [(ngModel)]="updateDetails.lastName"
                        placeholder="Last Name" autocomplete="lastName" required>
                    </div>
                </form>
                <div class="cred">
                    <div class="row">
                        <div>
                            <button type="button" (click)="doUpdate()" class="btn btn-success btn-left px-4">Update</button>
                            <button type="button" [routerLink]="['/users']" class="btn btn-danger px-4">Cancel</button>
                        </div>
                    </div>
                </div> -->
                <form [formGroup]="updateForm">
                    <h1 style="text-align: center;">Update</h1>
                    <p style="text-align: center;" appChangeStyle>Reset your Account</p>
                    <div class="form-group cred">
                        <input type="text" class="form-control" formControlName="username"
                        placeholder="Username" autocomplete="username" name="username"  [(ngModel)]="updateDetails.username">
                        <div class="error-text" *ngIf="formControls.username.touched">
                            <span *ngIf="formControls.username.hasError('required')">Please enter your Username</span>
                        </div>
                    </div>
                    <div class="form-group cred">
                        <input type="password" class="form-control" formControlName="password"
                        placeholder="Password" autocomplete="password" name="password" [(ngModel)]="updateDetails.password">
                        <div class="error-text" *ngIf="formControls.password.touched">
                            <span *ngIf="formControls.password.hasError('required')">Please enter your Password</span>
                        </div>
                    </div>
                    <div class="form-group cred">
                        <input type="text" class="form-control" formControlName="firstName"
                        placeholder="First Name" autocomplete="firstName" name="firstName" [(ngModel)]="updateDetails.firstName">
                        <div class="error-text" *ngIf="formControls.firstName.touched">
                            <span *ngIf="formControls.firstName.hasError('required')">Please enter your First Name</span>
                        </div>
                    </div>
                    <div class="form-group cred">
                        <input type="text" class="form-control" formControlName="lastName"
                        placeholder="Last Name" autocomplete="lastName" name="lastName" [(ngModel)]="updateDetails.lastName">
                        <div class="error-text" *ngIf="formControls.lastName.touched">
                            <span *ngIf="formControls.lastName.hasError('required')">Please enter your Last Name</span>
                        </div>
                    </div>
                </form>
                <div class="cred">
                    <div class="row">
                        <div>
                            <button type="button" data-toggle="modal" data-target="#exampleModal"  class="btn btn-success btn-left px-4">Update</button>
                            <button type="button" [routerLink]="['/users']" class="btn btn-danger px-4">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="font-size: 3rem; text-align:center;" id="exampleModalLabel">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="text-align:center;font-size: 27px;">
         Due you want the update the changes
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary lb" (click)="doUpdate(true)" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-danger rb" (click)="doUpdate(false)" data-dismiss="modal" >No</button>
        </div>
      </div>
    </div>
  </div>