<nav class="navbar navbar-inverse" style="height: 60px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">
                <h1 style="margin: auto; margin-top: -1.7%;">
                    <i class="fa fa-check"></i> 
                    <strong>POC</strong>
                </h1>
            </a>
        </div>
        <div class="collapse navbar-collapse ">
            <ul class="nav navbar-nav navbar-right navbar-toggler">
                <li class="nav-list" ><a href="#" routerLink = "/home"><h3>Home</h3></a></li>
                <li class="nav-list"><a href="#" routerLink = "/users"><h3>Users</h3></a></li>
                <li class="nav-list"><a href="#" routerLink = "/login"><h3>Log Out</h3></a></li>
            </ul>
        </div>
    </div>
  </nav>


<section class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="mb-5"><strong><i>Welcome {{userName}}</i></strong></h1>
            
            <h1 class="mb-5"><strong><i>Proof Of Concept</i></strong></h1>
            <h4><i>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, qui perferendis deleniti architecto omnis optio minima.</i></h4>
            
        
        </div>
        
    </div>
</section>